.row.mb-4.mb-lg-5.align-items-center.justify-content-center
    .col-lg-8.col-xl-7
        vue-image.side-image.mb-3.mb-lg-0(
            v-bind:widths='imageWidths'
            v-bind:src='image_url' 
            v-bind:alt='image_alt'
        )
    .col-lg-4(v-bind:class='orientationClass')
        dynamic-component.description-text.w-100.my-auto(
            v-bind:component_infos='text_content_section'
            v-bind:class='textBorderClass'
        )
