.row.gx-0.justify-content-center
    .col-lg-6
        vue-image.img-fluid(v-bind:src='image_url' v-bind:alt='image_alt')
    .col-lg-6(v-bind:class='orientationClass')
        .content-container.h-100
            .d-flex.h-100
                dynamic-component.description-text.w-100.my-auto(
                    v-bind:component_infos='text_content_section'
                )
